@font-face {
  font-family: 'Caravan';
  src: url('fonts/Caravan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin:0;
  font-family: Arial;
  background:#fff6f9;
  text-align:center;
}

/* Главный блок */
.hero {
  height: 70vh;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
}
.hero-overlay {
  width:100%;
  background: rgba(255,255,255,0.55);

  padding-top: 20px;     /* сверху меньше */
  padding-bottom: 120px; /* снизу больше */

  text-align:center;
}
.hero-overlay {
  width:100%;
  background: rgba(255,255,255,0.55);
  backdrop-filter: blur(6px);
  padding:60px 0;
}

.hero h1 {
  font-family: 'Caravan', cursive;
  font-size: 320px;
  color: #222A35;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.hero-text {
  background: rgba(255,255,255,0.8);
  padding:40px;
  border-radius:20px;
}

/* Кружки */
.circle-container {
  display:flex;
  justify-content:center;
  gap:40px;
  margin:40px;
}

.circle {
  width:150px;
  height:150px;
  border-radius:50%;
  object-fit:cover;
  transition:0.3s;
}

.circle:hover {
  transform:scale(1.1);
}

/* Видео */
.video {
  margin:60px;
}
.greeting-text {
  font-family: 'Caravan', cursive;
  font-size: 70px;
  color: #222A35;

  max-width: 520px;     /* ← ГЛАВНОЕ */
  margin: 25px auto;   /* центр + отступы */

  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1.4;
  opacity: 0.9;
}
